:root {
  --page: #000;
  --background: #c26a6a;
  --background-filter: blur(10px) brightness(80%);
  --background-secondary: #c26a6a;
  --background-dark: #c26a6a;
  --background-other: #c26a6a;

  --title: #fff;
  --block: #c26a6a;
  --block-buttons: #000;
  --input: #c26a6a;
  --column: #c26a6a;
  --accent-color: #c26a6a;
  --main: #c26a6a;

  --text-primary: #fff;
  --text-secondary: #c26a6a;
  --text-placeholder: #fff;
  --text-dark: #c26a6a;

  --transparent: rgb(0, 0, 0, 0);
}
