:root {
  --page: url('full2.png');
  --background: rgb(0 0 0);
  --background-filter: blur(10px) brightness(80%);
  --background-secondary: #000000;
  --background-dark: #000000;
  --background-other: #000000;

  --title: #fff;
  --block: #f10000;
  --block-buttons: #ff0c0c;
  --input: #ff0c0c;
  --column: #f10000;
  --accent-color: #ff0c0c;
  --main: #f10000;

  --text-primary: #fff;
  --text-secondary: #b0b0b0;
  --text-placeholder: #fff;
  --text-dark: #f00;

  --transparent: rgb(255 0 0);
}
